<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8">
    <title>Add Course</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />
    <link href="../static/css/bootstrap.rtl.css" rel="stylesheet">
    <link href="../static/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/model_style.css">

  </head>
  <body dir="rtl">
    <div class="form-container">
      <form action="" method="POST">
      

        <div class="form-title">درس جديد</div>
        <div class="form-field">
          <label class="form-lable" for="name">إسم الدرس</label>
          <input type="text" id="name" name="name" placeholder="ادخل اسم الدرس">   
        </div>
        <div class="form-field">
            <label class="form-lable" for="name">الفيديو التعليمي</label>
            <input type="file" id="name" name="name" placeholder="اختر الفيديو">   
          </div>
          
         <div class="mt-2">
          <a class="btn" href="AddExplane.html" >إضافة شرح</a>  
          <a class="btn" href="AddExam.html" >إضافة تمرين</a>  
        </div>
            
          <input type="submit" value="إنشاء">


        
    </form>

    </div>


    
  </body>
</html>