<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8">
    <title>Add Course</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />
    <link href="../static/css/bootstrap.rtl.css" rel="stylesheet">
    <link href="../static/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/model_style.css">

  </head>
  <body dir="rtl">
    <div class="form-container">
      <form action="" method="POST">
      

        <div class="form-title">وحده جديده</div>
        <div class="form-field">
          <label class="form-lable" for="name">عنوان الوحده</label>
          <input type="text" id="name" name="name" placeholder="ادخل اسم الدرس">   
        </div>
        <div class="form-field">
            <label class="form-lable" for="name">عدد الدروس</label>
            <input type="number" id="name" name="name" placeholder="اختر الفيديو">   
          </div>
          
         <div class="mt-2">
<a href="unit.html"> <input type="submit " value="الغاء" class="btn btn-link new_model "></a> 
        </div>
            
          <input type="submit" value="إنشاء">


        
    </form>

    </div>


    
  </body>
</html>