body{
    background: rgb(243, 243, 243);
    direction: rtl;
    font-size: 14px;
    /* color: ; */
}

header{
    border-style: solid;
    border-width: 1px;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    background-color: white;
    color: #ad1c71;
    border: #ad1c71;
    border-style: solid;
    margin: 0;
    margin-left: 20px;
    padding: 5px 10px;
}
ul{
    padding-right: 10px;
}
svg{
    fill:#ad1c71;
    /* stroke-width: 20px; */
}
svg:hover{
    
    fill: #ad1c71;

}

path{
    height: 20px;
    width: 20px;
}

.e-exam-primary-color {
    color: #000 !important;
    background-color: #ad1c71;
}

.nav-link {
    font-weight: bold;
    color: #ad1c71;


}
.nav-link:hover {
    color: #0d3950;

}

.nav-link:active{
    color: #0d3950;

    font-size: 20px;
}



.text-bg {
    color: #fff!important;
    background-color: white;
}

.container2, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 20px;
    padding-left: 2px;
    /* margin-right: auto;
    margin-left: auto; */
}


.text-bg {
    color: #fff!important;
    background-color: white;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    background-color: white;
    color: #ad1c71;
    border: #ad1c71;
    border-style: solid;
    margin: 0;
    margin-left: 20px;

}

.btn-group > .btn:hover, .btn-group-vertical > .btn:hover{
    background-color: #ad1c71;
    color: white;

}


.btn-group > .btn:focus, .btn-group-vertical > .btn:focus{
    background-color: #ad1c71;
    color: white;

}

.btn-group > .btn:active, .btn-group-vertical > .btn:active{
    --bs-btn-active-border-color: #ad1c71;

}

.table > :not(caption) > * > * {

    border-bottom-width: 0;

}

.table2{
    box-shadow: 0px 2px 10px 0px rgb(5, 4, 4);
border-collapse: collapse;
border-radius: 1em;
overflow: hidden;
}

.items{
    border-top: #8f9395;
    border-top-style: solid;
    border-top-width: 1.5px;
    background-color: white;
    font-size: 13px;
    text-align: center;

    font-weight: bold;   
    color: black;
}
.itemlast{
    border-bottom-style: none;
}
tr{
    text-align: center;
    color: white;
}
.btnSerch{

    font-size: 10px;

}

a{
    color: #ad1c71;
    font-size: 20;
    text-decoration: none;
}

.valuation{
    color: #0BA420;
    font-weight: bold;
}
.search-form{
    background-color: #ad1c71;
    color: white;
    font-weight: bold;


}
.search-form:hover{
    background-color: rgb(103, 2, 42);
    color: white;

}
.search-form:focus{
    background-color: rgb(2, 103, 103);
}

.card-form{
margin-bottom: 10px;
    background-color: #e2e9eb;   
}

.small-container{

    border-radius: 50px;
    margin: 2.5rem 17rem;
}
.small-container2{

    margin: 2.5rem 22rem;
}

.exam-btn:hover{
    background-color: rgb(2, 103, 103);

}
.exam-btn:focus{
    color: white;
    background-color: rgb(2, 103, 103);

}

.fingerprint{
    width: 100px;
    height: 100px;
    margin: 8rem 11rem;
}

.choice{
    margin: 0 12% ;
    margin-top:3% ;
}

.save-button{
    color: white !important;
    background-color: #ad1c71;

}
.save-button:hover{
    color: black;
    background-color: #ad1c71;
    border-color: black;

}
.select-container select{

    /* margin-left: 10px; */
    border: 1px solid #ad1c71;
    border-radius: 5px;
    width: 170px;
    color: #ad1c71;
    font-size: 13px;
    outline: #ad1c71;
    cursor: pointer;
    text-align: center;
    height: 30px;
}
.select-container th .btn{
    font-size: 13px;
    height: 25px;
    background-color: black;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 0.3s ease;
    float: left;
    font-family: 'Cairo',sans-serif;
}
.select-container th .btn:hover{
    background-color: white;
    color: black;
}
.select-container{
  margin-top: 20px;
}
td .btn{
    font-size: 12px;
}

.dropdown button,.nav-link{
    background:none;
    border: none;
}

.nav, .nav-link{
    font-size: 14px;
}


.new_model{
    color: #ad1c71;
    font-size: 20;
    text-decoration: none;
}


.login-page
{
  background-color:#e5e7ed
}
.login-page main
{
  width:100%;
  max-width:460px;
  margin:8% auto 5%
}
.login-block
{
  background-color:#fff;
  padding:60px;
  -webkit-box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
  box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
  text-align:center;
  border-radius:5px
}
.login-block h1,.login-block h6
{
  font-family:Open Sans,sans-serif;
  color:#96a2b2;
  letter-spacing:1px
}
.login-block h1
{
  font-size:22px;
  margin-bottom:60px;
  margin-top:40px
}
.login-block h6
{
  font-size:11px;
  text-transform:uppercase;
  margin-top:0;
}
.login-block .form-group
{
  margin-top:15px;
  margin-bottom:15px;
}
.login-block .form-control,.login-block .form-control:focus,.login-block .input-group-addon,.login-block .input-group-addon:focus
{
  background-color:transparent;
  border:none;
}
.login-block .form-control
{
  font-size:17px;
  border-radius:0px;
}
.login-block input:-webkit-autofill
{
  -webkit-box-shadow:0 0 0 1000px #fff inset;
  -webkit-text-fill-color:#818a91;
  -webkit-transition:none;
  -o-transition:none;
  transition:none;
}
.login-block .input-group-addon
{
  color:#29aafe;
  font-size:19px;
  opacity:.5
}
.login-block .btn-block
{
  margin-top:30px;
  padding:15px;
  background:#29aafe;
  border-color:#29aafe;
}
.login-block .hr-xs
{
  margin-top:5px;
  margin-bottom:5px
}
.login-footer
{
  margin-top:60px;
  opacity:.5;
  -webkit-transition:opacity .3s ease-in-out;
  -o-transition:opacity .3s ease-in-out;
  transition:opacity .3s ease-in-out
}
.login-footer:hover
{
  opacity:1;
}
.login-links
{
  padding:15px 5px 0;
  font-size:13px;
  color:#96a2b2
}
.login-links:after
{
  content:'';
  display:table;
  clear:both
}
.login-links a
{
  color:#96a2b2;
  opacity:.9
}
.login-links a:hover
{
  color:#29aafe;
  opacity:1
}
@media (max-width:767px)
{
  .login-page main
  {
    position:static;
    top:auto;
    left:auto;
    -webkit-transform:none;
    -o-transform:none;
    transform:none;
    padding:30px 15px
  }
  .login-block{padding:20px}}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.rss:hover
{
  background-color:#f26522
}
.social-icons a.google-plus:hover
{
  background-color:#dd4b39
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }